# Proyek Analisis Data: E-Commerce Public dataset
- Nama: WIFQO AROVA SYAMS
- Email: wifqoarova17@gmail.com
- Id Dicoding: WIFQO AROVA SYAMS

## Menentukan Pertanyaan Bisnis

- Bagaimana demografi pelanggan dan penjual dalam platform E-Commerce kita?
- Bagaimana performa revenue seller dalam berapa bulan ini?
- Kategory produk apa yang paling banyak dan paling sedikit terjual?

## Menyiapkan semua library yang dibutuhkan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
# load all datasets from "E-Commerce Public Dataset" folder, then instanciate it as dataframe

customers_df = pd.read_csv("E-Commerce Public Dataset/customers_dataset.csv")
sellers_df = pd.read_csv("E-Commerce Public Dataset/sellers_dataset.csv")
products_df = pd.read_csv("E-Commerce Public Dataset/products_dataset.csv")
geolocation_df = pd.read_csv("E-Commerce Public Dataset/geolocation_dataset.csv")
product_category_name_translation_df = pd.read_csv("E-Commerce Public Dataset/product_category_name_translation.csv")
orders_df = pd.read_csv("E-Commerce Public Dataset/orders_dataset.csv")
order_reviews_df = pd.read_csv("E-Commerce Public Dataset/order_reviews_dataset.csv")
order_items_df = pd.read_csv("E-Commerce Public Dataset/order_items_dataset.csv")
order_payments_df = pd.read_csv("E-Commerce Public Dataset/order_payments_dataset.csv")

### Assessing Data

#### 1. Assessing Customer DataFrame

data assessing result:
- there are don't have a wrong datatype
- there are no missing value
- there are no duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [3]:
# check for datatype
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [4]:
# check for missing value
customers_df.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [5]:
# check for duplicated value
print("Duplicated Value:", customers_df.duplicated().sum())

Duplicated Value: 0

In [6]:
# check for statistic parameters
customers_df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

#### 2. Assessing Sellers DataFrame

data assessing result:
- there are don't have a wrong datatype
- there are no missing value
- there are no duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [7]:
# check for datatype
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [8]:
# check for missing value
sellers_df.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [9]:
# check for duplicated value
print("Duplicated value:", sellers_df.duplicated().sum())

Duplicated value: 0

In [10]:
# check for parameter statistics
sellers_df.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

#### 3. Assessing Product DataFrame

data assessing result:
- there are don't have a wrong datatype
- there are have a lot missing value
- there are no duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [11]:
# check for datatype
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [12]:
# check for missing value
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [13]:
# check for duplicate value
print("Duplicated Value:", products_df.duplicated().sum())

Duplicated Value: 0

In [14]:
# check for statistic parameters
products_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

#### 4. Assessing Geolocations DataFrame

data assessing result:
- there are don't have a wrong datatype
- there are no missing value
- there are have 261831 duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [15]:
# check for datatype
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [16]:
# check for missing value
geolocation_df.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [17]:
# check for duplicated data
geolocation_df.duplicated().sum()

261831

In [18]:
# check for statistic parameters
geolocation_df.describe()

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

#### 5. Assessing Product Category Name Translation DataFrame
data assessing result:
- there are don't have a wrong datatype
- there are no missing value
- there are no duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [19]:
# check for datatype
product_category_name_translation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [20]:
# check for missing value
product_category_name_translation_df.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [21]:
# check for duplicated value
product_category_name_translation_df.duplicated().sum()

0

#### 6. Assessing Orders DataFrame

data assessing result:
- there are have a wrong datatype on timestamps columns
- there are have a lot missing value
- there are no duplicated value
- there are no irregularities in statistic parameters (no column to be calculated)

In [22]:
# check for datatype
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [23]:
# check for missing value
orders_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [24]:
# check for duplicated value
orders_df.duplicated().sum()

0

In [25]:
# check for statistic parameters
orders_df.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

#### 7. Assessing Order Reviews DataFrame

data assessing result:
- there are have a wrong datatype in each datetime format
- there are have a lot missing value
- there are dont have duplicated data
- there are no irregularities in the statistical parameters

In [26]:
# check for datatype
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [27]:
# check for missing value
order_reviews_df.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [28]:
# check for duplicated value
order_reviews_df.duplicated().sum()

0

In [29]:
# check for statistics parameters
order_reviews_df.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

#### 8. Assessing Order Items DataFrame

data assessing result:
- there are have wrong datatype in date column
- there are no missing values
- there are no duplicated data
- there are no irregularities in statistic parameters

In [30]:
# check for datatype
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [31]:
# check for missing value
order_items_df.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [32]:
# check duplicated data
order_items_df.duplicated().sum()

0

In [33]:
# check for statictic parameters
order_items_df.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

#### 9. Assessing Order Payments DataFrame

data assessing result:
- there are don't have a wrong datatype
- there are no missing value
- there are no duplicated value
- there are no irregularities in statistic parameters

In [34]:
# check for datatype
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [35]:
# check missing values
order_payments_df.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [36]:
# check duplicated data
order_payments_df.duplicated().sum()

0

In [37]:
# check statistic parameters
order_payments_df.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

### Cleaning Data

#### Dataframe list to be cleaning

1. Product DataFrame
    - there are have a lot missing value
2. Geolocation DataFrame
    - there are have 261831 duplicated value
3. Orders DataFrame
    - there are have a wrong datatype on timestamps columns
    - there are have a lot missing value
4. Order Reviews DataFrame
    - there are have a wrong datatype in each datetime format
    - there are have a lot missing value
5. Order Items DataFrame
    - there are have wrong datatype in date column

#### 1. Cleaning Product DataFrame

In [38]:
# check the missing value
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [39]:
# fetch all data that have a missing value based on product_category_name
products_df[products_df.product_category_name.isna()]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [40]:
# fetch all data that have a missing value based on product_weight_g
products_df[products_df.product_weight_g.isna()]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,bebes,60.0,865.0,3.0,NaN,NaN,NaN,NaN
18851,5eb564652db742ff8f28759cd8d2652a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
"""
we can see that in one row data there are have a lot missing value in columns,
so better to delete all the data because we have experience lost that data
and the data is useless now because it's not provide the rellevant data
"""
products_df.dropna(axis=0, inplace=True)

#### 2. Cleaning Geolocation DataFrame

In [42]:
# delete all duplicated data
geolocation_df.drop_duplicates(inplace=True)

In [43]:
# check duplicated data
geolocation_df.duplicated().sum()

0

#### 3. Cleaning Order DataFrame

In [44]:
# check before and after cleaned
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [45]:
# change date columns to datetime datatype
timestamp_columns = [
    "order_purchase_timestamp", 
    "order_approved_at", 
    "order_delivered_carrier_date", 
    "order_delivered_customer_date", 
    "order_estimated_delivery_date"
]

for column in timestamp_columns:
    orders_df[column] = pd.to_datetime(orders_df[column])

In [46]:
# check the missing value
orders_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [47]:
# fetch data that order_approved_at have a missing value
orders_df[orders_df.order_approved_at.isna()]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
1130,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaT,NaT,NaT,2018-09-12
1801,ed3efbd3a87bea76c2812c66a0b32219,191984a8ba4cbb2145acb4fe35b69664,canceled,2018-09-20 13:54:16,NaT,NaT,NaT,2018-10-17
1868,df8282afe61008dc26c6c31011474d02,aa797b187b5466bc6925aaaa4bb3bed1,canceled,2017-03-04 12:14:30,NaT,NaT,NaT,2017-04-10
2029,8d4c637f1accf7a88a4555f02741e606,b1dd715db389a2077f43174e7a675d07,canceled,2018-08-29 16:27:49,NaT,NaT,NaT,2018-09-13
2161,7a9d4c7f9b068337875b95465330f2fc,7f71ae48074c0cfec9195f88fcbfac55,canceled,2017-05-01 16:12:39,NaT,NaT,NaT,2017-05-30
...,...,...,...,...,...,...,...,...
97696,5a00b4d35edffc56b825c3646a99ba9d,6a3bdf004ca96338fb5fad1b8d93c2e6,canceled,2017-07-02 15:38:46,NaT,NaT,NaT,2017-07-25
98415,227c804e2a44760671a6a5697ea549e4,62e7477e75e542243ee62a0ba73f410f,canceled,2017-09-28 15:02:56,NaT,NaT,NaT,2017-10-16
98909,e49e7ce1471b4693482d40c2bd3ad196,e4e7ab3f449aeb401f0216f86c2104db,canceled,2018-08-07 11:16:28,NaT,NaT,NaT,2018-08-10
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaT,NaT,NaT,2018-10-01
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaT,2018-09-27

In [48]:
# fetch data that order_delivered_carrier_date have a missing value
orders_df[orders_df.order_delivered_carrier_date.isna()]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaT,NaT,2018-08-21
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaT,NaT,2017-10-03
266,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaT,NaT,2017-12-05
324,d3c8851a6651eeff2f73b0e011ac45d0,957f8e082185574de25992dc659ebbc0,processing,2016-10-05 22:44:13,2016-10-06 15:51:05,NaT,NaT,2016-12-09
...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaT,NaT,NaT,2018-10-01
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaT,NaT,2018-02-06
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaT,2018-09-27
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaT,NaT,2017-09-15
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaT,NaT,2017-10-23

In [49]:
# fetch data that order_delivered_customer_date have a missing value
orders_df[orders_df.order_delivered_customer_date.isna()]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaT,2018-06-28
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaT,NaT,2018-08-21
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaT,NaT,2017-10-03
154,6942b8da583c2f9957e990d028607019,52006a9383bf149a4fb24226b173106f,shipped,2018-01-10 11:33:07,2018-01-11 02:32:30,2018-01-11 19:39:23,NaT,2018-02-07
...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaT,NaT,NaT,2018-10-01
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaT,NaT,2018-02-06
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaT,2018-09-27
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaT,NaT,2017-09-15
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaT,NaT,2017-10-23

In [50]:
"""
we can conclude that all the data that have a missing value have a usefull data in the order status column,
so we can not delete the data, instead of make it with None format.
"""

'\nwe can conclude that all the data that have a missing value have a usefull data in the order status column,\nso we can not delete the data, instead of make it with None format.\n'

#### 4. Cleaning Order Reviews DataFrame

In [51]:
# check datatype
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [52]:
# change datetime column to datetime datatype format
datetime_columns = ["review_creation_date", "review_answer_timestamp"]

for column in datetime_columns:
    order_reviews_df[column] = pd.to_datetime(order_reviews_df[column])

In [53]:
# check missing value
order_reviews_df.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [54]:
"""
here we can conclude that the column that dont have a value is an optional(nullable) value that the customer
dont have an obligation for fill the column, so we can just make it like that
"""

'\nhere we can conclude that the column that dont have a value is an optional(nullable) value that the customer\ndont have an obligation for fill the column, so we can just make it like that\n'

#### 5. Cleaning Order Items DataFrame

In [55]:
# check datatype
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [56]:
# change to datetime
order_items_df["shipping_limit_date"] = pd.to_datetime(order_items_df["shipping_limit_date"])

## Exploratory Data Analysis (EDA)

### 1. Explore Customers_df Data

#### Explore Results:
- We have total 99.441 customer
- most of the customers are live in Sao Paulo City with total: 15.540 customers
- most of the customers are live in SP State with total: 41.746 customers
- total of city that customer live in is 4.119 cities
- total of state that customer live in is 27 state

In [57]:
# describe customer_df
customers_df.describe(include="all")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [58]:
# make pivot table to count customer based on city
customers_df.groupby("customer_city").customer_id.nunique().sort_values(ascending=False)

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
                  ...
ibiara                1
rio espera            1
rio dos indios        1
rio dos cedros        1
lagoao                1
Name: customer_id, Length: 4119, dtype: int64

In [59]:
# make pivot tabel to count customer based on state
customers_df.groupby("customer_state").customer_id.nunique().sort_values(ascending=False)

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_id, dtype: int64

In [60]:
# count total city that customers live in
customers_df["customer_city"].nunique()

4119

In [61]:
# count total state that customers live in
customers_df["customer_state"].nunique()

27

### 2. Explore Sellers_df Data

#### Explore Results:
- we have total 3.095 seller
- most of the seller are live in Sao Paulo with total: 694 sellers
- most of the seller are live in SP state with total: 1.849 sellers
- total of city that seller live in is 611 city
- total of state that seller live in is 23 state

In [62]:
# describe seller
sellers_df.describe(include="all")

,seller_id,seller_zip_code_prefix,seller_city,seller_state
count,3095,3095.000000,3095,3095
unique,3095,NaN,611,23
top,3442f8959a84dea7ee197c632cb2df15,NaN,sao paulo,SP
freq,1,NaN,694,1849
mean,NaN,32291.059451,NaN,NaN
std,NaN,32713.453830,NaN,NaN
min,NaN,1001.000000,NaN,NaN
25%,NaN,7093.500000,NaN,NaN
50%,NaN,14940.000000,NaN,NaN
75%,NaN,64552.500000,NaN,NaN
max,NaN,99730.000000,NaN,NaN

In [63]:
# make pivot tabel to count customer based on city
sellers_df.groupby("seller_city").seller_id.nunique().sort_values(ascending=False)

seller_city
sao paulo         694
curitiba          127
rio de janeiro     96
belo horizonte     68
ribeirao preto     52
                 ...
ivoti               1
itirapina           1
itau de minas       1
itapui              1
xaxim               1
Name: seller_id, Length: 611, dtype: int64

In [64]:
# make pivot tabel to count customer based on state
sellers_df.groupby("seller_state").seller_id.nunique().sort_values(ascending=False)

seller_state
SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
MS       5
RN       5
MT       4
RO       2
SE       2
AC       1
PI       1
AM       1
MA       1
PA       1
Name: seller_id, dtype: int64

### 3. Explore Products_df Data

#### Explore Results:
- most of the product is from category bed_bath_table with 3.029 products, and the seccond is sports_leisure category with total 2.867 products.
- average product have a 2 photos on marketplace, with min. 1 photo and max. 20 photos
- average product have 771 description length, with min. 4 words and max. 3.992 words
- average product weight is 2276.96 gram, with min. 0 gram and max. 40.425 gram

In [65]:
# describe product_df
products_df.describe(include="all")

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32340,32340,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000
unique,32340,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1e9e8ef04dbcff4541ed26657ea517e5,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,3029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,48.476592,771.492393,2.188961,2276.956586,30.854545,16.958813,23.208596
std,NaN,NaN,10.245699,635.124831,1.736787,4279.291845,16.955965,13.636115,12.078762
min,NaN,NaN,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,NaN,NaN,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,NaN,NaN,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,NaN,NaN,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,NaN,NaN,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [66]:
"""
for more clear product category name, we will add product_category_name_english column with merge method.
merge product_df with product_category_name_translation_df
"""
products_english_df = pd.merge(
    left=products_df,
    right=product_category_name_translation_df,
    how="left",
    on="product_category_name"
)

In [67]:
# make pivot table based on product_category_name_english
products_english_df.groupby("product_category_name_english").product_id.count().sort_values(ascending=False)

product_category_name_english
bed_bath_table               3029
sports_leisure               2867
furniture_decor              2657
health_beauty                2444
housewares                   2335
                             ...
tablets_printing_image          9
home_comfort_2                  5
fashion_childrens_clothes       5
security_and_services           2
cds_dvds_musicals               1
Name: product_id, Length: 71, dtype: int64

### 4. Explore Geolocation_df Data

#### Explore Results:
- city that have a most zip code (area) is in sao paulo city with total 3171 area
- state that have a most cities in in MG state with 1.426 cities, and then SP state with 1.048 cities
- zip code (area) that have a most location is in zip code number 38400 with 746 locations, then zipcode number 35500 have 726 locations

In [68]:
# describe dataframe
geolocation_df.describe(include="all")

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
count,738332.000000,738332.000000,738332.000000,738332,738332
unique,NaN,NaN,NaN,8011,27
top,NaN,NaN,NaN,sao paulo,SP
freq,NaN,NaN,NaN,79927,285976
mean,38316.086800,-20.998353,-46.461098,NaN,NaN
std,30632.496675,5.892315,4.393705,NaN,NaN
min,1001.000000,-36.605374,-101.466766,NaN,NaN
25%,12600.000000,-23.603061,-48.867822,NaN,NaN
50%,29144.000000,-22.873588,-46.647278,NaN,NaN
75%,65950.000000,-19.923336,-43.836974,NaN,NaN
max,99990.000000,45.065933,121.105394,NaN,NaN

In [69]:
# make pivot tb. group by city to find how many zip_code per city
geolocation_df.groupby("geolocation_city").geolocation_zip_code_prefix.nunique().sort_values(ascending=False)

geolocation_city
sao paulo               3171
são paulo               3013
brasilia                 496
brasília                 406
rio de janeiro           404
                        ...
guarei                     1
guardinha                  1
guarda-mor                 1
guarda dos ferreiros       1
óleo                       1
Name: geolocation_zip_code_prefix, Length: 8011, dtype: int64

In [70]:
# make a pivot table group by state, how many city in one state
geolocation_df.groupby("geolocation_state").geolocation_city.nunique().sort_values(ascending=False)

geolocation_state
MG    1426
SP    1048
RS     691
BA     652
PR     651
SC     420
GO     384
MA     299
PI     278
PE     267
CE     260
PB     254
RJ     245
PA     219
RN     214
MT     213
TO     173
ES     160
MS     133
AL     130
SE      96
RO      83
AM      74
AC      34
DF      28
AP      17
RR      14
Name: geolocation_city, dtype: int64

In [71]:
# make a pivot table to see each zip code (area) have how many location
geolocation_df.groupby("geolocation_zip_code_prefix").agg({
    "geolocation_lat": "nunique",
    "geolocation_lng": "nunique"
}).sort_values(by="geolocation_lat", ascending=False)

                             geolocation_lat  geolocation_lng
geolocation_zip_code_prefix
38400                                    746              745
35500                                    726              726
11680                                    726              726
11740                                    666              666
36400                                    627              627
...                                      ...              ...
11620                                      1                1
11625                                      1                1
35150                                      1                1
91509                                      1                1
25928                                      1                1

[19015 rows x 2 columns]

### 5. Explore Order_df Data

#### Explore Results:

- we have total 99441 order
- each customer just do 1 order
- most of the order have done with delivered status in total 96.478 orders done
- the order that have been canceled have a total 625 orders
- the order that is still in process have a total 301 orders
- the order that is still in shipment process is 1.107 orders
  
- average seller performance to process approvable after customer purchased is with the same day which is fast response. and minimum with the same day, maximum 187 days after purchased.
- average seller performance to process delivery to carrier after customer purchased is 2 days. and minimal with the same day, maximal 125 days after purchased
- average customer waiting time from buy the product online until come to location is 12 days, and minimal with the same day, maximal 209 days after purchased.
- average carrier delivery time to customer location is 8 days, and minimal with the same day, maximal 205 days
- from total 96.478 order completed there are have 7826 orders that is Late and 88652 orders that is On Time

In [72]:
# describe order_df
orders_df.describe(include="all")

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,NaN,NaN,NaN,NaN,NaN
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,NaN,NaN,NaN,NaN,NaN
freq,1,1,96478,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2017-12-31 08:43:12.776581120,2017-12-31 18:35:24.098800128,2018-01-04 21:49:48.138278656,2018-01-14 12:09:19.035542272,2018-01-24 03:08:37.730111232
min,NaN,NaN,NaN,2016-09-04 21:15:19,2016-09-15 12:16:38,2016-10-08 10:34:01,2016-10-11 13:46:32,2016-09-30 00:00:00
25%,NaN,NaN,NaN,2017-09-12 14:46:19,2017-09-12 23:24:16,2017-09-15 22:28:50.249999872,2017-09-25 22:07:22.249999872,2017-10-03 00:00:00
50%,NaN,NaN,NaN,2018-01-18 23:04:36,2018-01-19 11:36:13,2018-01-24 16:10:58,2018-02-02 19:28:10.500000,2018-02-15 00:00:00
75%,NaN,NaN,NaN,2018-05-04 15:42:16,2018-05-04 20:35:10,2018-05-08 13:37:45,2018-05-15 22:48:52.249999872,2018-05-25 00:00:00
max,NaN,NaN,NaN,2018-10-17 17:30:18,2018-09-03 17:40:06,2018-09-11 19:48:28,2018-10-17 13:22:46,2018-11-12 00:00:00

In [73]:
# make pivot table based on order_status, to count how many each each order status
orders_df.groupby("order_status").order_id.nunique().sort_values(ascending=False)

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_id, dtype: int64

In [74]:
# make a pivot tabel grop by order_id to see how many order each customer
orders_df.groupby("order_id").customer_id.nunique().sort_values(ascending=False)

order_id
00010242fe8c5a6d1ba2dd792cb16214    1
ab291c01a71273689c1e6ea624b083dc    1
ab344aaf7040ad7bcee8c7ae7db9e87e    1
ab30f8d4ebb7d33d1dcf54d420ea42cd    1
ab30f399d360ddf62897051d813f887d    1
                                   ..
55539e6edbbf2276dc9e2eab8af0fa8d    1
55538582ef35a95e5ed4047c6bf04695    1
5553543e89ef381e4ff08f6b91b94690    1
55534471fcbe2dd1436234e7cfa4de5a    1
fffe41c64501cc87c801fd61db3f6244    1
Name: customer_id, Length: 99441, dtype: int64

In [75]:
# fetch order data that the order have been done
orders_done_df = orders_df[orders_df.order_status == "delivered"]

In [76]:
# seller performance to process approvable after customer purchased
# count days range between order purchased and approve
range_order_purchased_to_approved = orders_df["order_approved_at"] - orders_df["order_purchase_timestamp"]
range_order_purchased_to_approved = range_order_purchased_to_approved.apply(lambda x: x.total_seconds()//86400)
range_order_purchased_to_approved.sort_values()

0        0.0
63040    0.0
63039    0.0
63038    0.0
63037    0.0
        ...
97696    NaN
98415    NaN
98909    NaN
99283    NaN
99347    NaN
Length: 99441, dtype: float64

In [77]:
# seller performance to process until delivery it to carrier after customer purchased
# count days range between order purchased and delivered to carrier
range_order_purchased_until_delivered_to_carrier = orders_df["order_delivered_carrier_date"] - orders_df["order_purchase_timestamp"]
range_order_purchased_until_delivered_to_carrier = range_order_purchased_until_delivered_to_carrier.apply(lambda x: x.total_seconds()//86400)
# if data dont have a datetime data, then throw 0
range_order_purchased_until_delivered_to_carrier = range_order_purchased_until_delivered_to_carrier.apply(lambda x: x if x > 0 else 0)

In [78]:
# time customer must wait from first do the purchase until come to the customer home
# count days range between order purchased and order delivered
range_order_purchased_to_delivered = orders_df["order_delivered_customer_date"] - orders_df["order_purchase_timestamp"]
range_order_purchased_to_delivered = range_order_purchased_to_delivered.apply(lambda x: x.total_seconds()//86400)

In [79]:
# carrier performance
# count days range between order delivered to carrier and order delivered to customer
range_order_delivered_to_carrier_and_delivered_to_customer = orders_df["order_delivered_customer_date"] - orders_df["order_estimated_delivery_date"]
range_order_delivered_to_carrier_and_delivered_to_customer = range_order_delivered_to_carrier_and_delivered_to_customer.apply(lambda x: x.total_seconds()//86400)
# if data dont have a datetime data, then throw 0
range_order_delivered_to_carrier_and_delivered_to_customer = range_order_delivered_to_carrier_and_delivered_to_customer.apply(lambda x: x if x > 0 else 0)

In [80]:
# make new order_performance data frame to track performance
d = {
    "order_id": orders_df["order_id"].tolist(),
    "order_purchased_to_approved_time": range_order_purchased_to_approved.tolist(),
    "order_purchased_until_delivered_to_carrier_time": range_order_purchased_until_delivered_to_carrier.tolist(),
    "order_purchased_to_delivered_time": range_order_purchased_to_delivered.tolist(),
    "order_from_carrier_to_delivered_time": range_order_delivered_to_carrier_and_delivered_to_customer.tolist()
}
order_performance_df = pd.DataFrame(data=d)

In [81]:
# order performance statistic parameters
order_performance_df.describe()

,order_purchased_to_approved_time,order_purchased_until_delivered_to_carrier_time,order_purchased_to_delivered_time,order_from_carrier_to_delivered_time
count,99281.000000,99441.000000,96476.000000,99441.000000
mean,0.269800,2.697358,12.094086,0.697941
std,0.986202,3.566937,9.551746,4.584309
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,6.000000,0.000000
50%,0.000000,2.000000,10.000000,0.000000
75%,0.000000,4.000000,15.000000,0.000000
max,187.000000,125.000000,209.000000,188.000000

In [82]:
# order delivery accuracy time
range_order_delivered_customer_and_estimated_delivery_date = orders_df["order_estimated_delivery_date"] - orders_df["order_delivered_customer_date"]
range_order_delivered_customer_and_estimated_delivery_date = range_order_delivered_customer_and_estimated_delivery_date.apply(lambda x: x.total_seconds()//86400)

In [83]:
# make an order data that have been done
orders_done_df = pd.DataFrame(orders_df[orders_df.order_status == "delivered"])

In [84]:
"""
write "On Time" if delivered time is faster or same than estimated time,
write "Late" if delivered time is slower than estimated time,
wrte "Unavailable" if order is not delivered
"""

orders_done_df["order_delivery_accuracy_time"] = range_order_delivered_customer_and_estimated_delivery_date.apply(lambda x: "Late" if x < 0 else "On Time")

In [85]:
# get the total order that is ontime and late
orders_done_df.groupby("order_delivery_accuracy_time").order_id.nunique()

order_delivery_accuracy_time
Late        7826
On Time    88652
Name: order_id, dtype: int64

### 6. Explore Order_reviews_df Data

#### Explore Results:
- average customer satisfaction is in rating score 4.09
- most of customer give the 5 rating with 57.076 orders, and then 4 rating with 19.098 orders
- there are a lot customers that give 1-3 rating, in total 22.701 orders. which is 11.393 customer is give the rating 1
- average time seller to answer customer reviews is 2 days, with minimal time is at the same day, and the maximal time is 518 days after customer did the reviews

In [201]:
# describe order reviews
order_reviews_df.describe(include="all")

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,99224,99224,99224.000000,11568,40977,99224,99224
unique,98410,98673,NaN,4527,36159,NaN,NaN
top,7b606b0d57b078384f0b58eac1d41d78,c88b1d1b157a9999ce368f218a407141,NaN,Recomendo,Muito bom,NaN,NaN
freq,3,3,NaN,423,230,NaN,NaN
mean,NaN,NaN,4.086421,NaN,NaN,2018-01-12 20:49:23.948238336,2018-01-16 00:23:56.977938688
min,NaN,NaN,1.000000,NaN,NaN,2016-10-02 00:00:00,2016-10-07 18:32:28
25%,NaN,NaN,4.000000,NaN,NaN,2017-09-23 00:00:00,2017-09-27 01:53:27.249999872
50%,NaN,NaN,5.000000,NaN,NaN,2018-02-02 00:00:00,2018-02-04 22:41:47.500000
75%,NaN,NaN,5.000000,NaN,NaN,2018-05-16 00:00:00,2018-05-20 12:11:21.500000
max,NaN,NaN,5.000000,NaN,NaN,2018-08-31 00:00:00,2018-10-29 12:27:35
std,NaN,NaN,1.347579,NaN,NaN,NaN,NaN

In [87]:
# make a pivot table to know how many feedback each review rating
order_reviews_df.groupby("review_score").order_id.nunique().sort_values(ascending=False)

review_score
5    57076
4    19098
1    11393
3     8160
2     3148
Name: order_id, dtype: int64

In [88]:
# count range from review created until review answered by seller (day)
range_creation_date_and_answared_date = order_reviews_df["review_answer_timestamp"] - order_reviews_df["review_creation_date"]
range_creation_date_and_answared_date = range_creation_date_and_answared_date.apply(lambda x: x.total_seconds() // 86400)

In [89]:
# explore range time (day)
range_creation_date_and_answared_date.sort_values()

0          0.0
46210      0.0
46212      0.0
46227      0.0
46229      0.0
         ...
13920    446.0
8758     471.0
22059    508.0
66672    512.0
41620    518.0
Length: 99224, dtype: float64

In [90]:
# find average (day)
range_creation_date_and_answared_date.mean()

2.582248246392002

### 7. Explore Order_items_df Data

#### Explore Results:
- average order price is USD 120,65, with min USD 0,85 and max USD 6.735
- average freight value is 19,99, with min 0 and max 409,68
- from total 3.095 sellers, all have experience the order although at least just 1
- seller that has a most handled order is in total 1854 orders, and smallest order is 1 order
- seller that has most selled product have in total 399 products, and smallest amount of product  that have been selled is 1 product
- seller that has a most revenue is have in total USD 229.472,63, and seller that has a smallest revenue is in total USD 3,50
- maximum most revenue in 1 time order is USD 6.735
- smallest revenue in 1 time order is USD 0,85
- average revenue from all order have USD 4391.48

In [91]:
# describe df
order_items_df.describe(include="all")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
count,112650,112650.000000,112650,112650,112650,112650.000000,112650.000000
unique,98666,NaN,32951,3095,NaN,NaN,NaN
top,8272b63d03f5f79c56e9e4120aec44ef,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,NaN,NaN,NaN
freq,21,NaN,527,2033,NaN,NaN,NaN
mean,NaN,1.197834,NaN,NaN,2018-01-07 15:36:52.192685312,120.653739,19.990320
min,NaN,1.000000,NaN,NaN,2016-09-19 00:15:34,0.850000,0.000000
25%,NaN,1.000000,NaN,NaN,2017-09-20 20:57:27.500000,39.900000,13.080000
50%,NaN,1.000000,NaN,NaN,2018-01-26 13:59:35,74.990000,16.260000
75%,NaN,1.000000,NaN,NaN,2018-05-10 14:34:00.750000128,134.900000,21.150000
max,NaN,21.000000,NaN,NaN,2020-04-09 22:35:08,6735.000000,409.680000
std,NaN,0.705124,NaN,NaN,NaN,183.633928,15.806405

In [145]:
# make a pivot table based on seller, how many order they handle and how many products they have been sell, and how many statistic params of their total revenue
order_items_pivot_tb = order_items_df.groupby("seller_id").agg({
    "order_id": "nunique",
    "product_id": "nunique",
    "price": ["sum", "max", "min"]
}).rename(columns={
    "order_id": "order_count",
    "product_id": "product_count",
})

In [147]:
# sort values by price total
order_items_pivot_tb.sort_values(by=("price", "sum"), ascending=False)

                                 order_count product_count      price  \
                                     nunique       nunique        sum
seller_id
4869f7a5dfa277a7dca6462dcf3b52b2        1132            95  229472.63
53243585a1d6dc2643021fd1853d8905         358            23  222776.05
4a3ca9315b744ce9f8e9374361493884        1806           399  200472.92
fa1c13f2614d7b5c4749cbc52fecda94         585           289  194042.03
7c67e1448b00f6e969d365cea6b010ab         982           198  187923.89
...                                      ...           ...        ...
34aefe746cd81b7f3b23253ea28bef39           1             1       8.00
702835e4b785b67a084280efca355756           1             1       7.60
1fa2d3def6adfa70e58c276bb64fe5bb           1             1       6.90
77128dec4bec4878c37ab7d6169d6f26           1             1       6.50
cf6f6bc4df3999b9c6440f124fb2f687           1             1       3.50


                                      max     min
seller_id
4869f7a5dfa277a7dca6462dcf3b52b2   899.99   54.90
53243585a1d6dc2643021fd1853d8905  1649.99  170.00
4a3ca9315b744ce9f8e9374361493884   884.00   12.90
fa1c13f2614d7b5c4749cbc52fecda94  3999.90   84.90
7c67e1448b00f6e969d365cea6b010ab   401.34   29.99
...                                   ...     ...
34aefe746cd81b7f3b23253ea28bef39     8.00    8.00
702835e4b785b67a084280efca355756     7.60    7.60
1fa2d3def6adfa70e58c276bb64fe5bb     6.90    6.90
77128dec4bec4878c37ab7d6169d6f26     6.50    6.50
cf6f6bc4df3999b9c6440f124fb2f687     3.50    3.50

[3095 rows x 5 columns]

In [148]:
# find most revenue in 1 time order
order_items_pivot_tb.sort_values(by=("price", "max"), ascending=False)

                                 order_count product_count    price          \
                                     nunique       nunique      sum     max
seller_id
e3b4998c7a498169dc7bce44e6bb6277           3             3   6897.9  6735.0
80ceebb4ee9b31afb6c6a916a574a1e2           1             1   6729.0  6729.0
ee27a8f15b1dded4d213a468ba4eb391           1             1   6499.0  6499.0
59417c56835dd8e2e72f91f809cd4092          18             9  36459.0  4799.0
c72de06d72748d1a0dfb2125be43ba63          21             8  17522.0  4590.0
...                                      ...           ...      ...     ...
1fa2d3def6adfa70e58c276bb64fe5bb           1             1      6.9     6.9
77128dec4bec4878c37ab7d6169d6f26           1             1      6.5     6.5
6c9875b2f94ba781186f0c1aed8d1687           2             2     25.0     6.5
3d62f86afa7c73be2628a3be1423f5a0           2             1     12.0     6.0
cf6f6bc4df3999b9c6440f124fb2f687           1             1      3.5     3.5


                                     min
seller_id
e3b4998c7a498169dc7bce44e6bb6277    32.9
80ceebb4ee9b31afb6c6a916a574a1e2  6729.0
ee27a8f15b1dded4d213a468ba4eb391  6499.0
59417c56835dd8e2e72f91f809cd4092   839.0
c72de06d72748d1a0dfb2125be43ba63   200.0
...                                  ...
1fa2d3def6adfa70e58c276bb64fe5bb     6.9
77128dec4bec4878c37ab7d6169d6f26     6.5
6c9875b2f94ba781186f0c1aed8d1687     5.5
3d62f86afa7c73be2628a3be1423f5a0     6.0
cf6f6bc4df3999b9c6440f124fb2f687     3.5

[3095 rows x 5 columns]

In [149]:
# find smallest revenue in 1 order
order_items_pivot_tb.sort_values(by=("price", "min"), ascending=True)

                                 order_count product_count     price           \
                                     nunique       nunique       sum      max
seller_id
96804ea39d96eb908e7c3afdb671bb9e          38             5   3610.70   149.95
2709af9587499e95e803a6498a5a56e9          26            15   1279.56   154.00
2d2322d842118867781fc737e96d59a1           8             5    176.40    24.50
0e44d110fa6a54e121cb2c095a77762f           6             5    223.32   136.68
48efc9d94a9834137efd9ea76b065a38          33            17    345.60    14.90
...                                      ...           ...       ...      ...
e2a1ac9bf33e5549a2a4f834e70df2f8           5             1  14999.45  2999.89
a00824eb9093d40e589b940ec45c4eb0           3             1   9399.97  3399.99
585175ec331ea177fa47199e39a6170a           1             1   3549.00  3549.00
ee27a8f15b1dded4d213a468ba4eb391           1             1   6499.00  6499.00
80ceebb4ee9b31afb6c6a916a574a1e2           1             1   6729.00  6729.00


                                      min
seller_id
96804ea39d96eb908e7c3afdb671bb9e     0.85
2709af9587499e95e803a6498a5a56e9     1.20
2d2322d842118867781fc737e96d59a1     2.20
0e44d110fa6a54e121cb2c095a77762f     2.29
48efc9d94a9834137efd9ea76b065a38     2.90
...                                   ...
e2a1ac9bf33e5549a2a4f834e70df2f8  2999.89
a00824eb9093d40e589b940ec45c4eb0  2999.99
585175ec331ea177fa47199e39a6170a  3549.00
ee27a8f15b1dded4d213a468ba4eb391  6499.00
80ceebb4ee9b31afb6c6a916a574a1e2  6729.00

[3095 rows x 5 columns]

In [134]:
# count how many seller that have been done the order
order_items_df["seller_id"].nunique()

3095

In [150]:
# find the average from all order done
order_items_pivot_tb.price.mean()

sum    4391.484233
max     335.419590
min     110.384701
dtype: float64

### 8. Explore Order_payments_df Data

#### Explore Results:
- average payment sequential is 1 time, with min value is have 1 and max value is 29
- average payment installments is 2,85 month, with minimal no installment, and maximal 24 month
- average payment value is USD 154,1, and with min USD 0 and max USD 13.664,08
- credit card handle the most payment value that is in total USD 12.542.084,19
- credit card have handled most of the payment installment with maximal 24 month
- credit card too handled the most of the order for being transaction method with useness in 76.505 order

In [151]:
# describe order payment DF
order_payments_df.describe(include="all")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
count,103886,103886.000000,103886,103886.000000,103886.000000
unique,99440,NaN,5,NaN,NaN
top,fa65dad1b0e818e3ccc5cb0e39231352,NaN,credit_card,NaN,NaN
freq,29,NaN,76795,NaN,NaN
mean,NaN,1.092679,NaN,2.853349,154.100380
std,NaN,0.706584,NaN,2.687051,217.494064
min,NaN,1.000000,NaN,0.000000,0.000000
25%,NaN,1.000000,NaN,1.000000,56.790000
50%,NaN,1.000000,NaN,1.000000,100.000000
75%,NaN,1.000000,NaN,4.000000,171.837500
max,NaN,29.000000,NaN,24.000000,13664.080000

In [156]:
# make pivot tabel based on payment type
order_payments_df.groupby("payment_type").agg({
    "order_id": "nunique",
    "payment_sequential": "mean",
    "payment_installments": ["mean", "max", "min"],
    "payment_value": "sum"
})

             order_id payment_sequential payment_installments          \
              nunique               mean                 mean max min
payment_type
boleto          19784           1.000051             1.000000   1   1
credit_card     76505           1.004167             3.507155  24   0
debit_card       1528           1.034663             1.000000   1   1
not_defined         3           1.000000             1.000000   1   1
voucher          3866           2.602424             1.000000   1   1

             payment_value
                       sum
payment_type
boleto          2869361.27
credit_card    12542084.19
debit_card       217989.79
not_defined           0.00
voucher          379436.87

### Explore and Merge Orders &  Customer Data

#### Explore Results:
- most of the order is done from Sao Paulo city with total 15.540 orders
- most of the order is done in SP state with total 41.746 orders
- SP state have handled the most order delivered done with total 40.501 order delivered
- also SP state is experience the most canceled order with total 327 order canceled

In [185]:
# merge customer_df to order_df
orders_customers_df = pd.merge(
    left=orders_df,
    right=customers_df,
    how="left",
    left_on="customer_id",
    right_on="customer_id"
)
orders_customers_df.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01,80bb27c7c16e8f973207a5086ab329e2,86320,congonhinhas,PR
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09,36edbb3fb164b1f16485364b6fb04c73,98900,santa rosa,RS
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07,932afa1e708222e5821dac9cd5db4cae,26525,nilopolis,RJ
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06,39382392765b6dc74812866ee5ee92a7,99655,faxinalzinho,RS
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23,299905e3934e9e181bfb2e164dd4b4f8,18075,sorocaba,SP

In [186]:
# group by customer city
orders_customers_df.groupby("customer_city").order_id.nunique().sort_values(ascending=False)

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
                  ...
ibiara                1
rio espera            1
rio dos indios        1
rio dos cedros        1
lagoao                1
Name: order_id, Length: 4119, dtype: int64

In [187]:
# group by customer state
orders_customers_df.groupby("customer_state").order_id.nunique().sort_values(ascending=False)

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: order_id, dtype: int64

In [188]:
# make a pivot table to see whick state handled the most delivered order done, and canceled order
orders_customers_df.groupby(by=["customer_state", "order_status"]).order_id.nunique().sort_values(ascending=False)

customer_state  order_status
SP              delivered       40501
RJ              delivered       12350
MG              delivered       11354
RS              delivered        5345
PR              delivered        4923
SC              delivered        3546
BA              delivered        3256
DF              delivered        2080
ES              delivered        1995
GO              delivered        1957
PE              delivered        1593
CE              delivered        1279
PA              delivered         946
MT              delivered         886
MA              delivered         717
MS              delivered         701
PB              delivered         517
PI              delivered         476
RN              delivered         474
AL              delivered         397
SE              delivered         335
SP              shipped           328
                canceled          327
                unavailable       292
RJ              shipped           289
TO              delivered         274
RO              delivered         243
SP              invoiced          160
AM              delivered         145
SP              processing        136
RJ              canceled           86
AC              delivered          80
MG              unavailable        75
                shipped            71
BA              shipped            68
RJ              unavailable        68
AP              delivered          67
MG              canceled           64
RR              delivered          41
PR              unavailable        40
MG              invoiced           39
CE              shipped            38
RS              shipped            37
PE              shipped            35
RJ              processing         32
GO              shipped            31
MG              processing         31
DF              shipped            30
PR              shipped            29
SC              shipped            28
RJ              invoiced           26
RS              canceled           25
                unavailable        24
PR              canceled           22
RS              invoiced           20
BA              unavailable        20
SC              canceled           19
PA              shipped            19
SC              unavailable        18
MA              shipped            17
ES              shipped            17
BA              canceled           16
PR              invoiced           15
                processing         15
MT              shipped            14
SC              processing         14
RS              processing         14
GO              canceled           13
SC              invoiced           12
DF              unavailable        12
BA              processing         11
PB              shipped            11
PE              processing         10
GO              unavailable         9
AL              shipped             9
BA              invoiced            9
ES              canceled            9
SE              shipped             9
CE              canceled            7
PI              shipped             7
RN              shipped             7
DF              processing          7
MA              unavailable         7
DF              canceled            7
CE              unavailable         6
ES              unavailable         6
PE              invoiced            5
                canceled            5
CE              processing          5
GO              invoiced            5
                processing          5
MS              unavailable         5
ES              invoiced            4
RO              unavailable         4
SE              unavailable         4
PE              unavailable         4
RR              shipped             4
MA              canceled            4
PI              invoiced            4
                canceled            4
PA              canceled            4
PI              processing          3
MS              shipped             3
PB              unavailable         3
DF              invoiced            3
AL              processing          3
TO              shipped             3
MT              unavailable         3
RN              unavailable         3
RO              canceled            3
MS              processing          3
RO              processing          2
PB              canceled            2
PA              unavailable         2
AM              shipped             2
MS              canceled            2
MT              canceled            2
PA              invoiced            2
                processing          2
MA              invoiced            2
ES              processing          2
PB              processing          2
AL              invoiced            2
AM              unavailable         1
AL              unavailable         1
TO              canceled            1
AP              processing          1
CE              invoiced            1
TO              processing          1
SP              created             1
AL              canceled            1
DF              created             1
SP              approved            1
RO              invoiced            1
SE              canceled            1
                invoiced            1
MG              approved            1
RN              processing          1
MS              invoiced            1
MT              invoiced            1
                processing          1
AC              shipped             1
PB              invoiced            1
RS              created             1
PI              unavailable         1
PR              created             1
RJ              created             1
RR              canceled            1
TO              unavailable         1
Name: order_id, dtype: int64

### Explore and Merge Orders, Customers & Payments Data

In [202]:
# merge order_payments_df to orders_customers_df
orders_customers_payments_df = pd.merge(
    left=orders_customers_df,
    right=order_payments_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
orders_customers_payments_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1.0,credit_card,1.0,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3.0,voucher,1.0,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,2.0,voucher,1.0,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1.0,boleto,1.0,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1.0,credit_card,3.0,179.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103882,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP,1.0,credit_card,3.0,85.08
103883,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,1.0,credit_card,3.0,195.00
103884,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,1.0,credit_card,5.0,271.01
103885,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,1.0,credit_card,4.0,441.16
103886,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,1.0,debit_card,1.0,86.86

### Explore and Merge Orders, Customers, Payments & Reviews Data

In [204]:
# merge order_reviews_df to orders_customers_payments_df
orders_customers_payments_reviews_df = pd.merge(
    left=orders_customers_payments_df,
    right=order_reviews_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
orders_customers_payments_reviews_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,credit_card,1.0,18.12,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12 03:43:48
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,3.0,voucher,1.0,2.00,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12 03:43:48
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,2.0,voucher,1.0,18.59,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11,2017-10-12 03:43:48
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,1.0,boleto,1.0,141.46,8d5266042046a06655c8db133d120ba5,4.0,Muito boa a loja,Muito bom o produto.,2018-08-08,2018-08-08 18:37:50
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,1.0,credit_card,3.0,179.12,e73b67b67587f7644d5bd1a52deb1b01,5.0,NaN,NaN,2018-08-18,2018-08-22 19:07:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104473,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,6359f309b166b0196dbf7ad2ac62bb5a,12209,...,1.0,credit_card,3.0,85.08,e262b3f92d1ce917aa412a9406cf61a6,5.0,NaN,NaN,2017-03-22,2017-03-23 11:02:08
104474,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,da62f9e57a76d978d02ab5362c509660,11722,...,1.0,credit_card,3.0,195.00,29bb71b2760d0f876dfa178a76bc4734,4.0,NaN,So uma peça que veio rachado mas tudo bem rs,2018-03-01,2018-03-02 17:50:01
104475,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,737520a9aad80b3fbbdad19b66b37b30,45920,...,1.0,credit_card,5.0,271.01,371579771219f6db2d830d50805977bb,5.0,NaN,Foi entregue antes do prazo.,2017-09-22,2017-09-22 23:10:57
104476,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,...,1.0,credit_card,4.0,441.16,8ab6855b9fe9b812cd03a480a25058a1,2.0,NaN,Foi entregue somente 1. Quero saber do outro p...,2018-01-26,2018-01-27 09:16:56
104477,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,60350aa974b26ff12caad89e55993bd6,83750,...,1.0,debit_card,1.0,86.86,dc9c59b4688062c25758c2be4cafc523,5.0,NaN,NaN,2018-03-17,2018-03-17 16:33:31

### Explore and Merge Order Items & Products Data

#### Explore Results:
- all order is have the average product weight in total 2.099,98 g
- order with the minimum weight is 0 g, and the maximum weight is 40.425 g
- bed bath table have a most selled product category with the total 9.417 order
- security and services product category have a smallest selled with the total 2 order

In [196]:
order_items_products_df = pd.merge(
    left=order_items_df,
    right=products_english_df,
    how="left",
    left_on="product_id",
    right_on="product_id"
)
order_items_products_df.describe(include="all")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
count,112650,112650.000000,112650,112650,112650,112650.000000,112650.000000,111046,111046.000000,111046.000000,111046.000000,111046.000000,111046.000000,111046.000000,111046.000000,111022
unique,98666,NaN,32951,3095,NaN,NaN,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71
top,8272b63d03f5f79c56e9e4120aec44ef,NaN,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,NaN,NaN,NaN,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bed_bath_table
freq,21,NaN,527,2033,NaN,NaN,NaN,11115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11115
mean,NaN,1.197834,NaN,NaN,2018-01-07 15:36:52.192685312,120.653739,19.990320,NaN,48.775877,787.866335,2.209706,2099.979657,30.211003,16.626362,23.041956,NaN
min,NaN,1.000000,NaN,NaN,2016-09-19 00:15:34,0.850000,0.000000,NaN,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,NaN
25%,NaN,1.000000,NaN,NaN,2017-09-20 20:57:27.500000,39.900000,13.080000,NaN,42.000000,348.000000,1.000000,300.000000,18.000000,8.000000,15.000000,NaN
50%,NaN,1.000000,NaN,NaN,2018-01-26 13:59:35,74.990000,16.260000,NaN,52.000000,603.000000,1.000000,700.000000,25.000000,13.000000,20.000000,NaN
75%,NaN,1.000000,NaN,NaN,2018-05-10 14:34:00.750000128,134.900000,21.150000,NaN,57.000000,987.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,NaN
max,NaN,21.000000,NaN,NaN,2020-04-09 22:35:08,6735.000000,409.680000,NaN,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,NaN
std,NaN,0.705124,NaN,NaN,NaN,183.633928,15.806405,NaN,10.025570,652.138503,1.721445,3754.785226,16.189352,13.467460,11.716659,NaN

In [200]:
# find the product category that have most selled in orders
order_items_products_df.groupby("product_category_name_english").order_id.nunique().sort_values(ascending=False)

product_category_name_english
bed_bath_table               9417
health_beauty                8836
sports_leisure               7720
computers_accessories        6689
furniture_decor              6449
                             ...
arts_and_craftmanship          23
la_cuisine                     13
cds_dvds_musicals              12
fashion_childrens_clothes       8
security_and_services           2
Name: order_id, Length: 71, dtype: int64

### Explore and Merge Order Items, Products, & sellers Data

In [194]:
# merge sellers_df to order_items_products_df
order_items_products_sellers_df = pd.merge(
    left=order_items_products_df,
    right=sellers_df,
    how="left",
    left_on="seller_id",
    right_on="seller_id"
)
order_items_products_sellers_df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0,pet_shop,3471,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0,furniture_decor,37564,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0,perfumery,14403,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0,garden_tools,87900,loanda,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,utilidades_domesticas,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0,housewares,88303,itajai,SC
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,informatica_acessorios,31.0,232.0,1.0,8950.0,45.0,26.0,38.0,computers_accessories,1206,sao paulo,SP
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,esporte_lazer,43.0,869.0,1.0,967.0,21.0,24.0,19.0,sports_leisure,80610,curitiba,PR
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,informatica_acessorios,56.0,1306.0,1.0,100.0,20.0,20.0,20.0,computers_accessories,4733,sao paulo,SP
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0,bed_bath_table,14940,ibitinga,SP

### Merge All Data Frame

In [206]:
# merge all data frame 
all_df = pd.merge(
    left=orders_customers_payments_reviews_df,
    right=order_items_products_sellers_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
all_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,housewares,9350.0,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,housewares,9350.0,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,housewares,9350.0,maua,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,178.0,1.0,400.0,19.0,13.0,19.0,perfumery,31570.0,belo horizonte,SP
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,232.0,1.0,420.0,24.0,19.0,21.0,auto,14840.0,guariba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,da62f9e57a76d978d02ab5362c509660,11722,...,828.0,4.0,4950.0,40.0,10.0,40.0,baby,17602.0,tupa,SP
119139,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,737520a9aad80b3fbbdad19b66b37b30,45920,...,500.0,2.0,13300.0,32.0,90.0,22.0,home_appliances_2,8290.0,sao paulo,SP
119140,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,...,1893.0,1.0,6550.0,20.0,20.0,20.0,computers_accessories,37175.0,ilicinea,MG
119141,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,...,1893.0,1.0,6550.0,20.0,20.0,20.0,computers_accessories,37175.0,ilicinea,MG
119142,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,60350aa974b26ff12caad89e55993bd6,83750,...,569.0,1.0,150.0,16.0,7.0,15.0,health_beauty,14407.0,franca,SP

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- conclution pertanyaan 2