# Proyek Analisis Data: Nama dataset
- Nama: WIFQO AROVA SYAMS
- Email: wifqoarova17@gmail.com
- Id Dicoding: WIFQO AROVA SYAMS

## Menentukan Pertanyaan Bisnis

- pertanyaan 1
- pertanyaan 2

## Menyiapkan semua library yang dibutuhkan

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [9]:
# memuat seluruh dataset dari folder "E-Commerce Public Dataset" yang kemudian diubah menjadi dataframe

customers_df = pd.read_csv("E-Commerce Public Dataset/customers_dataset.csv")
sellers_df = pd.read_csv("E-Commerce Public Dataset/sellers_dataset.csv")
products_df = pd.read_csv("E-Commerce Public Dataset/products_dataset.csv")
geolocation_df = pd.read_csv("E-Commerce Public Dataset/geolocation_dataset.csv")
product_category_name_translation_df = pd.read_csv("E-Commerce Public Dataset/product_category_name_translation.csv")
orders_df = pd.read_csv("E-Commerce Public Dataset/orders_dataset.csv")
order_reviews_df = pd.read_csv("E-Commerce Public Dataset/order_reviews_dataset.csv")
order_items_df = pd.read_csv("E-Commerce Public Dataset/order_items_dataset.csv")
order_payments_df = pd.read_csv("E-Commerce Public Dataset/order_payments_dataset.csv")

### Assessing Data

#### 1. Assessing Customer DataFrame

hasil assessing data:
- tidak ada kesalahan dalam pendefinisian tipe data
- tidak ada missing value terdeteksi
- tidak ada duplicated value
- tidak ada kolom yang dapat dijadikan parameter satistik (tidak ada keanehan)

In [25]:
# memeriksa tipe data dari setiap kolom pada customer_df
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [14]:
# memeriksa apakah ada missing value
customers_df.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [15]:
# memeriksa duplicated value
print("Duplicated Value:", customers_df.duplicated().sum())

Duplicated Value: 0

In [20]:
# memeriksa parameter statistik
customers_df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

#### 2. Assessing Sellers DataFrame

hasil assessing data:
- tidak ada kesalahan dalam pendefinisian tipe data
- tidak ada missing value terdeteksi
- tidak ada duplicated value
- tidak ada kolom yang dapat dijadikan parameter satistik (tidak ada keanehan)

In [30]:
# cek tipedata dari sellers
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [31]:
# cek apakah ada missing value
sellers_df.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [32]:
# cek apakah ada duplicated value
print("Duplicated value:", sellers_df.duplicated().sum())

Duplicated value: 0

In [34]:
# cek parameter statistik
sellers_df.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

#### 3. Assessing Product DataFrame

hasil assessing data:
- tidak ada kesalahan dalam pendefinisian tipedata
- terdapat banyak missing value
- tidak ada duplicated value
- tidak ada keanehan dalam parameter statistik

In [36]:
# memeriksa tipedata product_df
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [37]:
# memeriksa apakah ada mising value
products_df.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [39]:
# memeriksa apakah ada duplicate value
print("Duplicated Value:", products_df.duplicated().sum())

Duplicated Value: 0

In [40]:
# memeriksa parameter statistik
products_df.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

#### 4. Assessing Geolocations DataFrame

hasil assessing data:
- tidak ada masalah dalam pendefinisian tipedata
- tidak ada missing value
- terdapat 261831 duplicated data
- tidak ada keanehan dalam parameter statistik

In [41]:
# memeriksa tipedata geolocation
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [42]:
# memeriksa missing value
geolocation_df.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [43]:
# memeriksa duplicated data
geolocation_df.duplicated().sum()

261831

In [44]:
# memeriksa parameter statistik
geolocation_df.describe()

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

#### 5. Assessing Product Category Name Translation DataFrame
hasil assessing data:
- tidak ada kesalahan dalam pendefinisian tipe data
- tidak ada missing value
- tidak ada duplicated value
- tidak ada kolom yang dapat dijadikan parameter statistik

In [45]:
# memeriksa tipe data
product_category_name_translation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [46]:
# memeriksa missing value
product_category_name_translation_df.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [47]:
# memeriksa duplicated value
product_category_name_translation_df.duplicated().sum()

0

#### 6. Assessing Orders DataFrame

hasil assessing data:
- terdapat kesalahan tipedata pada semua kolom timestamps
- terdapat banyak missing value
- tidak terdapat duplicated value
- tidak ada kolom yang dapat dihitung

In [48]:
# memeriksa tipedata
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [49]:
# memeriksa missing value
orders_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [50]:
# memeriksa duplicated value
orders_df.duplicated().sum()

0

In [51]:
# memeriksa parameter statistik
orders_df.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

#### 7. Assessing Order Reviews DataFrame

data assessing result:
- there's have a wrong datatype in each datetime format
- there's have a lot missing value
- there's dont have duplicated data
- there's no irregularities in the statistical parameters

In [52]:
# check for datatype
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [53]:
# check for missing value
order_reviews_df.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [54]:
# check for duplicated value
order_reviews_df.duplicated().sum()

0

In [56]:
# check for statistics parameters
order_reviews_df.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

### Cleaning Data

## Exploratory Data Analysis (EDA)

### Explore ...

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- conclution pertanyaan 2